@page "/"

<PageTitle>SamplePOS</PageTitle>

<h1 class="text-center mb-5">Punto de Venta</h1>

<div class="row">
    <div class="col-md-6">
        <ProductsSection/>
    </div>
    <div class="col-md-6">
        <CartSection/>
    </div>
</div>